---
layout: default
title: yangchenglong's blog
---

<div class="home">
  <div class="inner">
    <h1 class="page-heading">全部</h1>

    <ul class="post-list">
      <!-- for post in site.posts -->
      {% for post in paginator.posts %}
        <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <h2>{{ post.title }}</h2>
            <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
            <span class="post-text-count">字数：{{ post.content | number_of_words }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>

    <!-- {% for category in site.categories %}
      {{ category | first }}
      <span>({{ category | last | size }})</span>
        {% for post in category.last %}
          <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        <hr>
    {% endfor %} -->

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
        
    <!-- 分页链接 -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">上一页</span>
      {% endif %}
      <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="next">下一页</a>
      {% else %}
        <span class="next">Next</span>
      {% endif %}
    </div>
  </div>

  <script type="text/javascript">
    var dataStr = '{ {% for cat in site.categories %}'
      + '{% if cat[0] != site.categories.first[0] %},{% endif %}'
      + '"{{ cat[0] }}":'
      + '[{% for post in cat[1] %}'
      + '  {% if post != cat[1].first %},{% endif %}'
      + '  {"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%d/%m/%Y"}}", "count":"{{ post.content | number_of_words }}"}'
      + '{% endfor %}]'
      + '{% endfor %} }';
    var data = JSON.parse(dataStr);
    console.log(data);
    // var curTag = $.query.get("cat");
    // var archieves = data[curTag];
    window.onload = function() {
      var post_list = document.getElementsByClassName('post-list')[0];
      var cat_nav = document.getElementsByClassName('cat-nav')[0];
      var categories = cat_nav.getElementsByTagName('li');
      for (var i = categories.length - 1; i >= 0; i--) {
        categories[i].onclick = function(e) {
          e = e || window.event;
          var el = e.srcElement || e.target;
          if (el.children.length > 0 && el.children[0].className == 'cat-name') {
           console.log(el.children[0].innerHTML);
           var key = el.children[0].innerHTML;
           var value = data[key];
           console.log(value);
           var html = '';
           for (var i = value.length - 1; i >= 0; i--) {
             html += '<li>'
                     +'<a class="post-link" href="' + value[i].url + '">'
                     +'  <h2>' + value[i].title + '</h2>'
                     +'  <span class="post-meta">' + value[i].date + '</span>'
                     +'  <span class="post-text-count">字数：' + value[i].count + '</span>'
                     +'</a>'
                     +'</li>';
            };
            console.log(html);
            post_list.innerHTML = html;
          };
        }
      }
    };
  </script>
</div>


<div class="cat-nav">
  <div class="inner">
    <h2 class="cat-header">分类</h2>
    <ul>
    {% for category in site.categories %}
      <li>
        <span class="cat-name">{{ category | first }}</span>
        <span class="cat-number">{{ category | last | size }}</span>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>





