---
layout: default
title: 我的博客
---

<div class="home">

  <h1 class="page-heading">全部</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="text-number">字数：{{ post.content | number_of_words }}</span>
        </h2>
      </li>
    {% endfor %}
  </ul>

  {% for category in site.categories %}
    {{ category | first }}
    <span>({{ category | last | size }})</span>
      {% for post in category.last %}
        <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      <hr>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>


<ul class="cat-nav">
  {% for category in site.categories %}
    <li>
      <span class="cat-name">{{ category | first }}</span>
      <span class="cat-number">{{ category | last | size }}</span>
    </li>
  {% endfor %}
</ul>





