* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    /*background: url("/static/images/bg.jpg");*/
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure{
    margin-bottom: 10px;
}

h1{
    margin-top: 30px;
    margin-bottom: 10px;
}

h2, h3, h4, h5, h6{
    margin-top: 15px;
}

ul, li{
    list-style: none;
    margin: 0;
}

p{
    line-height: 1.7em;
    -ms-word-break: break-all;
    word-break: break-all;
}

img{
    width: 55%;
    margin-bottom: 10px;
}

code {
    font-size: 14px;
    color: #c7254e;
    background-color: #F9F2F4;
    font-family: Menlo, "Microsoft Yahei", Consolas, Arial;
    padding: 3px 5px;
    margin: 0 2px;
    /*border: 1px solid rgba(0,0,0,0.3);*/
}

pre > code {
    font-size: 14px;
    color: #444;
    background-color: inherit;
}

pre{
    background-color: #f5f5f5;
    border: 1px solid #eef;
    margin: 10px 0;
}

blockquote {
    color: #2c3f51;
    font-size: 16px;
    background-color: #f2f4f6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 15px;
    border-left: 10px solid rgba(102,128,153,0.075);
    font-style: normal;
    letter-spacing: normal;
    font-family: Menlo, "Microsoft Yahei", Consolas, Arial;
}

blockquote ul{
    margin-left: 20px;
}

blockquote li {
    list-style-type: disc;;
    line-height: 1.75em;
    margin-left: 10px;
    padding-left: 5px;
    margin: 0;
}
blockquote li > ul li{
    list-style-type: circle;
}

a,
a:link,
a:hover,
a:visited {
    color: #005;
    text-decoration: none;
}

.tag {
    color: #fff;
    font-size: 13px;
    padding: 3px 8px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .7);
    margin-right: 2px;
}

.post-text-count {
    font-size: 14px;
    color: #828282;
    margin-left: 10px;
}

.site-header {
    background: #222;
    border-top: none;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.6);
}

.site-title,
.site-title:visited {
    color: #ddd !important;
}

.site-nav .page-link {
    color: #ddd;
}

.page-content .wrapper {
    min-height: 600px;
    position: relative;
}

.post-title{
    font-size: 26px !important;
    letter-spacing: 0.3px;
}
/*正文*/

.page-content h1 {
    font-size: 23px;
    font-weight: 700;
}

.page-content h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: -3px;
}

.page-content .post-link {
    font-size: 20px;
}

.page-content .wrapper .home {
    display: block;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
}

.page-content .wrapper .home .inner .page-heading,
.page-content .wrapper .home .inner .post-list li {
    padding: 10px 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    transition: all 0.3s;
}

.page-content .wrapper .home .inner .post-list li:last-child {
    border: 0;
}

.page-content .wrapper .home .inner .post-list li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.page-content .wrapper .post {
    padding-left: 15px;
    padding-right: 15px;
}


/*侧边分类栏*/

.cat-nav {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}

.home .inner,
.cat-nav .inner {
    background-color: #f8f8fd;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .3), 0 0 25px rgba(0, 0, 0, .1) inset;
}

.cat-nav .inner h2,
.cat-nav li {
    position: relative;
    display: block;
    width: 100%;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.cat-nav .inner h2 {
    font-size: 18px;
    font-weight: bold;
}

.cat-nav li:last-child {
    border: 0;
}

.cat-nav li:hover,
.cat-nav li.active {
    color: #669;
    background-color: #f1f1f1;
}

.cat-nav li .cat-number {
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 13px;
    padding: 1px 8px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.cat-nav li:hover .cat-number {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.wrapper {
    padding-left: 0;
    padding-right: 0;
}


/*顶部*/

.site-header .wrapper {
    padding-left: 15px;
    padding-right: 15px;
}


/*底部*/

.site-footer {
    padding: 15px 0 0;
    background-color: rgba(0, 0, 0, .7);
    border: none;
}

.site-footer a {
    /*color: #2a7ae2;*/
    color: #ddd !important;
}

.site-footer .wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.site-footer .footer-col-3 .text {
    text-align: right;
    color: #ddd !important;
}

.btn-back {
    display: block;
    width: 100px;
    line-height: 34px;
    text-align: center;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin: 40px auto 0;
}

.pre-next-links{
    margin-top: 30px;
}

.pagination {
    text-align: center;
}


